:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

body {
  background-color: #22212c;
}

aside {
  width: 800px;
  float: right;
  padding-left: 15px;
  margin-left: 15px;
}

.tech {
  background-color: #22212d;
  border: 1px solid;
  border-radius: 25px;
color: #837e9f;
}

text {

}

.cards {
  background-color: #fff;
  border: 1px solide;
  border-radius: 25px;
}

img {
  width: 100px;
  height: auto;
}